@model IEnumerable<MicroBlog.Common.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Latest posts</h1>
</div>
<a asp-action="AddPost" class="btn btn-primary">Add Post</a>
<div class="card-deck">
    @foreach (var post in Model)
    {
        <div class="card">
            <div class="card-body">
                <p class="card-text">@post.PostContent</p>
                <a asp-controller="Home" asp-action="GetPost" 
                asp-route-id="@post.Id" asp-route-uid="@post.Uid">Edit</a>
            </div>
        </div>
    }
</div>